.sidebar__section .Option {
  margin: 5px 0;
  font-size: var(--small-title);
  gap: 10px;
  border-radius: 10px;
  padding: 8px 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
}
.sidebar__section .Option:hover {
  background-color: var(--button-color);
}
.sidebar__section .Option .icon {
  height: 22px;
}
.active_sidebar_link {
  background-color: var(--button-color);
}
