.Header {
  justify-content: space-between;
  padding: 10px 20px;
  position: static;
  background-color: var(--primary-color);
  z-index: 999;
  top: 0;

  left: 0;
}
.header__left {
  gap: 25px;
}
.header__right {
  gap: 10px;
}
.header__mainLogo {
  height: 23px;
}

.header__searchBar {
  font-size: 1.05rem;
  border-radius: 50vw 0 0 50vw;
  border: 1px solid var(--border-color);
  padding: 8px 20px;
  min-width: 40vw;
}
.header__searchInnerIcon {
  display: none;
}
.header__searchBar:focus {
  padding-left: 45px;
}
.header__searchBar:focus + .header__searchInnerIcon {
  display: block;
  position: absolute;
  opacity: 0.7;
  left: 1%;
  pointer-events: none;
}
.header__searchButton {
  border: 1px solid var(--border-color);
  background-color: var(--button-color);
  padding: 6px 20px 5px 15px;
  border-radius: 0 50vw 50vw 0;
  border-left: none;
  margin-right: 5px;
  cursor: pointer;
}
.header__searchButton:hover {
  background-color: var(--button-hover-color);
}
.header__form {
  position: relative;
}
.header__clearIcon {
  position: absolute;
  left: 78%;
  padding: 5px !important;
  height: 33px !important;
}
.header__userIcon {
  width: 35px;
  margin: 0 10px;
  border-radius: 50vw;
}
.normal_icon_menuIcon {
  padding: 5px !important;
}
