.ResultsPage {
  flex-direction: column;
}
.ResultsPage .results {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 220px);
  /* grid-template-rows: repeat(auto-fill, 280px); */
  align-items: start;
  justify-content: center;
  gap: 0.5vw;
  /* overflow: hidden;
  overflow-y: scroll; */
  height: 100%;
}
